@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation .8s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.page-loader {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
}

.loader-inner {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #048023;
    /* Dark Green */
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: spinloader 2s linear infinite;
}

.loader-image {
    width: 100%;
    height: 100%;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('logo.png');
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes spinloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@font-face {
    font-family: 'VisbyRoundCF';
    src: url('/Webfont/VisbyRoundCF-Bold.eot');
    src: url('/Webfont/VisbyRoundCF-Bold.eot?#iefix') format('embedded-opentype'),
         url('/Webfont/VisbyRoundCF-Bold.woff2') format('woff2'),
         url('/Webfont/VisbyRoundCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body * { 
    font-family: 'VisbyRoundCF', 
    sans-serif!important; 
}